= render :partial => 'wikis/wiki_management_links'

= render :partial => 'wikis/sidebar_details', :locals => {:wiki => @wiki}

= render :partial => 'wikis/sidebar_members_list', :locals => {:wiki => @wiki}